.text-blue {
  background: linear-gradient(0deg, #2e3e8d 0%, #4db1e1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-gray {
  color: #a4a8b5;
}
